"dnl"
"dnl @info   ${GEN_PY_PRO_TOOL} ${GEN_PY_PRO_VERSION}"
"dnl @author ${AUTHOR}"
"dnl @brief  Process this file with autoconf to produce a configure script."
"dnl"
"AC_INIT(${PNAME}, 0.1)"
"AC_CONFIG_HEADERS([config.h])"
"AM_INIT_AUTOMAKE([1.11])"
"AM_SILENT_RULES([yes])"
"AM_PATH_PYTHON"
"AC_OUTPUT(["
"Makefile"
"src/Makefile])"

