${HASH}" @info   ${GEN_PY_PRO_TOOL} ${GEN_PY_PRO_VERSION}"
${HASH}" @author ${AUTHOR}"
${HASH}" @brief  Process this file with automake to produce Makefile.in."

"SUBDIRS = src"

"dist_doc_DATA = ${BSLASH}"
"${TAB}README ${BSLASH}"
"${TAB}COPYING ${BSLASH}"
"${TAB}AUTHORS ${BSLASH}"
"${TAB}ChangeLog ${BSLASH}"
"${TAB}INSTALL ${BSLASH}"
"${TAB}NEWS"

${HASH}" Remove doc directory on uninstall"
"uninstall-local:"
${TAB}"-rm -r \\\$(docdir)"
