${H}" @info   ${GEN_PY_PRO_TOOL} ${GEN_PY_PRO_VERSION}"
${H}" @author ${AN} ${AE}"
${H}" @brief  Process this file with automake to produce Makefile.in."

${H}" The main script"
"bin_SCRIPTS = ${PN}.py"

${H}" Directory where .class files will be installed"
"${PN}dir = \\\$(pythondir)/${PN}"

"${PN}_PYTHON = ${BSL}"
"${T}${PN}.py"

